{{define "admin.dashboard"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Admin Dashboard | Tkbai</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8"/>
        <meta property="og:locale" content="en_US"/>
        <meta property="og:type" content="article"/>
        {{template "essential.css" .}}
    </head>
    <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
    <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-row flex-column-fluid">
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                {{template "admin.header" .}}
                <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
                    <div class="content flex-row-fluid" id="kt_content">
                        <div class="card">
                            <div class="card-header border-0 pt-6">
                                <div class="card-toolbar">
                                    <div class="d-flex justify-content-end" data-kt-subscription-table-toolbar="base">
                                        <a href="{{.appPrefix}}/admin/add/csv" class="btn btn-primary">
                                            <span class="svg-icon svg-icon-2">+</span>Tambah Data
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="test-table">
                                    <thead>
                                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase">
                                        <th class="min-w-125px">Test ID</th>
                                        <th class="min-w-125px">Name</th>
                                        <th class="min-w-125px">Student Number</th>
                                        <th class="min-w-125px">Major</th>
                                        <th class="min-w-125px">Date of Test</th>
                                        <th class="min-w-125px">TOEFL</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-gray-600 fw-bold">
                                    {{range $index, $option := .listData}}
                                        <tr>
                                            <td>{{$option.TestID.String}}</td>
                                            <td>{{$option.Name.String}}</td>
                                            <td>{{$option.StudentNumber.String}}</td>
                                            <td>{{$option.Major.String}}</td>
                                            <td>{{$option.DateOfTest.String}}</td>
                                            <td>{{$option.ToeflScore.String}}</td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "scrolltop" .}}

    {{template "essential.js" .}}

    <script nonce="{{.scriptNonce}}">
        $("#test-table").DataTable();
    </script>
    </body>
    </html>
{{end}}