{{define "headerComponent"}}
    <!--begin::Header-->
    <div
            id="kt_header"
            class="header align-items-stretch"
            data-kt-sticky="true"
            data-kt-sticky-name="header"
            data-kt-sticky-offset="{default: '200px', lg: '300px'}"
    >
        <!--begin::Container-->
        <div class="container-xxl d-flex align-items-center">
            <!--begin::Header Logo-->
            <div
                    class="header-logo me-5 me-md-10 flex-grow-1 flex-lg-grow-0 card px-3 py-3"
            >
                <a href="{{.prefix}}/web/v1/dashboard">
                    <img
                            alt="Logo"
                            src="https://fello.id/assets/img/logo/logo-fello.png"
                            class="logo-default h-25px"
                    />
                    <img
                            alt="Logo"
                            src="https://fello.id/assets/img/logo/logo-fello.png"
                            class="logo-sticky h-25px"
                    />
                </a>
            </div>
            <!--end::Header Logo-->

            <!--begin::Wrapper-->
            <div
                    class="d-flex align-items-stretch justify-content-between flex-lg-grow-1"
            >

                <!--begin::Navbar-->
                <div class="d-flex align-items-stretch" id="kt_header_nav">
                    <!--begin::Menu wrapper-->
                    <div
                            class="header-menu align-items-stretch"
                            data-kt-drawer="true"
                            data-kt-drawer-name="header-menu"
                            data-kt-drawer-activate="{default: true, lg: false}"
                            data-kt-drawer-overlay="true"
                            data-kt-drawer-width="{default:'200px', '300px': '250px'}"
                            data-kt-drawer-direction="start"
                            data-kt-drawer-toggle="#kt_header_menu_mobile_toggle"
                            data-kt-swapper="true"
                            data-kt-swapper-mode="prepend"
                            data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}"
                    >
                        <!--begin::Menu-->
                        <div
                                class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch"
                                id="#kt_header_menu"
                                data-kt-menu="true"
                        >
                            <div
                                    data-kt-menu-trigger="click"
                                    data-kt-menu-placement="bottom-start"
                                    class="menu-item menu-lg-down-accordion me-lg-1"
                            >
                                <a class="menu-link py-3">
                                    <span class="menu-title">Mobile</span>
                                    <span class="menu-arrow d-lg-none"></span>
                                </a>
                                <div
                                        class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
                                >
                                    <div class="menu-item">
                                        <a
                                                class="menu-link active py-3"
                                                href="{{.prefix}}/web/v1/mobile/banner"
                                        >
                                            <span class="menu-title">FELLO APP Banner</span>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a
                                                class="menu-link py-3"
                                                href="{{.prefix}}/web/v1/mobile/felloversion"
                                        >
                                            <span class="menu-title">FELLO APP Version</span>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a
                                                class="menu-link py-3"
                                                href="{{.prefix}}/web/v1/mobile/pushnotif/image"
                                        >
                  <span class="menu-title"
                  >FELLO APP Push notif image
                  </span>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a
                                                class="menu-link py-3"
                                                href="{{.prefix}}/web/v1/mobile/trxicon"
                                        >
                  <span class="menu-title"
                  >FELLO APP Transaction Icon</span
                  >
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Menu-->
                    </div>
                    <!--end::Menu wrapper-->
                </div>
                <!--end::Navbar-->

                <!--begin::Topbar-->
                <div class="d-flex align-items-stretch flex-shrink-0">
                    <!--begin::Toolbar wrapper-->
                    <div class="topbar d-flex align-items-stretch flex-shrink-0">
                        <!--begin::User-->
                        <div
                                class="d-flex align-items-center me-n3 ms-1 ms-lg-3"
                                id="kt_header_user_menu_toggle"
                        >
                            <!--begin::Menu wrapper-->
                            <div
                                    class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
                                    data-kt-menu-trigger="click"
                                    data-kt-menu-attach="parent"
                                    data-kt-menu-placement="bottom-end"
                            >
                                <img
                                        class="h-30px w-30px rounded"
                                        src="{{.prefix}}/static/assets/img/profile.png"
                                        alt=""
                                />
                            </div>
                            <!--begin::Menu-->
                            <div
                                    class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px"
                                    data-kt-menu="true"
                            >
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <div
                                            class="menu-content d-flex align-items-center px-3"
                                    >
                                        <!--begin::Avatar-->
                                        <div class="symbol symbol-50px me-5">
                                            <img
                                                    alt="Logo"
                                                    src="{{.prefix}}/static/assets/img/profile.png"
                                            />
                                        </div>
                                        <!--end::Avatar-->
                                        <!--begin::Username-->
                                        <div class="d-flex flex-column">
                                            <div
                                                    class="fw-bolder d-flex align-items-center fs-5"
                                            >
                                                {{.userName}}
                                            </div>
                                        </div>
                                        <!--end::Username-->
                                    </div>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-5">
                                    <a href="{{.appPrefix}}/admin/signout" class="menu-link px-5">Sign Out</a>
                                </div>
                                <!--end::Menu item-->
                            </div>
                            <!--end::Menu-->
                            <!--end::Menu wrapper-->
                        </div>
                        <!--end::User -->
                    </div>
                    <!--end::Toolbar wrapper-->
                </div>
                <!--end::Topbar-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Header-->
{{end}}